<span id = "admin_welcome">
Welcome in totalFPS Admin Panel. Select actions from menu above.<br><br>
totalFPS suport statistics for:
<ul>
	<li><%= image_tag "/images/games_icons/sof2.png" %> Soldier Of Fortune 2</li>
	<li><%= image_tag "/images/games_icons/quake3.png" %>Quake 3</li>
	<li><%= image_tag "/images/games_icons/cs.gif" %>Counter Strike</li>
	<li><%= image_tag "/images/games_icons/cod2.png" %>Call Of Duty 2</li>
	<li><%= image_tag "/images/games_icons/cod4.jpg" %>Call Of Duty 4</li>
</ul>
Menu:
	<ul>
		<li>Messages: home page messages managment. You can add new, edit, or delete message.</li>
		<li>Servers: servers list managment.</li>
		<li>Players: players list managment.</li>
	</ul>
</span>
