Add your server to database, fill fields below
<%= form_tag save_server_path %>
	<fieldset id = "add_server">
		<legend>Server info</legend>
		<span id = "title">IP:</span> <%= text_field(:server, :ip, :size => 20) %>
		<span id = "title">Port:</span> <%= text_field(:server, :port, :size => 20) %>
		<span id = "title">Game:</span> <%= select_tag(:game, options_for_select(['Soldier Of Fortune 2', 'Quake 3', 'Counter Strike', 'Call Of Duty 2', 'Call Of Duty 4'], "sof2"), :multiple => false, :size => 1) %>
	</fieldset>
	<%= submit_tag("OK", :id => 'button') %>
</form>
