<% i = 1 %>
<span id = "servers_list_header"><span id = "top_position">Rank</span><span id = "top_name">Name</span><span id = "top_status">Status</span><span id = "top_players">Players</span><span id = "top_adress">IP adress</span></span>
<% @servers_info.each do |name, info| %>
	<% if i % 2 == 0%>
		<span class = "servers_list_record1">
	<% else %>
		<span class = "servers_list_record2">
	<% end %>
		<span id = "position"><%= i %>.</span>
		<span id = "name"><%= link_to  "#{$sof2.parseColorsToHTML(name)}", sof2_stats_path(:id => info[:id]) %></span>
		<span id = "status">
		<% if info[:alive] == true %>
			<span id = "alive">Alive</span>
		<% else %>
			<span id = "dead">Dead</span>
		<% end %>
		</span>
		<span id = "players"><%= info[:players] %>/<%= info[:maxclients] %></span>
		<span id = "adress"><%= info[:ip] %>:<%= info[:port] %></span>
	</span>
	<% i += 1 %>
<% end %>
