<% i = 1 %>
<span id = "servers_list_header"><span id = "top_position">Rank</span><span id = "top_name">Name</span><span id = "top_status">Status</span><span id = "top_players">Players</span><span id = "top_adress">IP adress</span></span>
<% @sof2_servers.each do |server| %>
	<% if i % 2 == 0%>
		<span class = "servers_list_record1">
	<% else %>
		<span class = "servers_list_record2">
	<% end %>
		<span id = "position"><%= i %>.</span>
		<span id = "name">
			<% if server.server_name != "" %>
				<%= link_to  "#{$sof2.parseColorsToHTML(server.server_name)}", sof2_stats_path(:id => server.id) %>
			<% else %>
				<%= link_to  "Unknown", sof2_stats_path(:id => server.ip) %>
			<% end %>
		</span>
		<span id = "status">
		<% if server.status == "Alive" %>
			<span id = "alive">Alive</span>
		<% else %>
			<span id = "dead">Dead</span>
		<% end %>
		</span>
		<span id = "players"> <%= server.online_players %> </span>
		<span id = "adress"><%= server.ip %>:<%= server.port %></span>
	</span>
	<% i += 1 %>
<% end %>
<span id = "bottom_server_menu"><%= link_to 'Find', {:controller => 'main_page', :action => 'find'} %><%= link_to 'Add server', {:controller => 'main_page', :action => 'add_server'} %></span>
