<!DOCTYPE HTML>
<head>
	<title><%= @title %></title>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag 'sof2colors' %>
</head>
<body>
	<span id = "main_layout">
		<span id = "logo"></span>
		<span id = "top_menu">
			<span id = "top_menu_buttons_list">
				<%= link_to "Home", {:controller => "main_page", :action => "index"} %> <span class = "separator">|</span>
				<span class = "dropdown_menu"> <a href = "#"> Servers </a>
					<ul>
						<li> <%= link_to "SoF2", {:controller => "main_page", :action => "servers_sof2"} %> </li>
						<li> <a href = "#">Quake3</a> </li>
						<li> <a href = "#">CS</a> </li>
						<li> <a href = "#">CoD2</a> </li>
						<li> <a href = "#">CoD4</a> </li>
					</ul>
				</span>
				<span class = "separator">|</span>
				<a href = "#"> Players </a> <span class = "separator">|</span>
				<a href = "#"> Games </a> <span class = "separator">|</span>
				<a href = "#"> Help </a>
			</span>
		</span>
		
		<% if flash[:notice] %>
			<span id = "flash_notice"> <%= flash[:notice] %> </span>
		<% elsif flash[:error] %>
			<span id = "flash_error">Error: <%= flash[:error] %> </span>
		<% end %>
		
		<span id = "center_box">
			<span id = "left_content">
				<span class = "box">
					<span id = "title">>> Box1 Title << </span>
					<span id = "content">
						jakas tresc jakas trescjakas tresc
						jakas trescjakas trescjakas tresc
						jakas trescjakas trescjakas tresc
						jakas trescjakas trescjakas tresc
					</span>
				</span>
				<span class = "box">
					<span id = "title">>> Box2 Title << </span>
					<span id = "content">
						jakas tresc jakas trescjakas tresc
						jakas trescjakas trescjakas tresc
						jakas trescjakas trescjakas tresc
						jakas trescjakas trescjakas tresc
					</span>
				</span>
			</span>
			<span id = "center_content">
				<span id = "title"> <%= @content_title %> </span>
				<span id = "main_content">
					<%= yield %>
				</span>
			</span>
		</span>
	</span>
</body>
