<!DOCTYPE HTML>
<head>
	<title><%= @title %></title>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag 'sof2colors' %>
</head>
<body>
	<span id = "main_layout">
		<span id = "logo">
			<% if current_user %>
				<span id = "logout_menu"><span id = "text">Username: </span>[<span id = "username"> <%= current_user.login %></span>] | <%= link_to "Admin Panel", {:controller => "admin", :action => "index"} %> | <span id = "logout_button"><%= link_to "Logout", logout_path %></span></span>
			<% else %>
				<% form_for :session, @user_session, :url => {:controller => "session", :action => "create" } do |f| %><span id = "login"><%= f.text_field(:login) %></span><span id = "password"><%= f.password_field(:password) %></span> <%= f.submit("GO!", :class => 'button') %> <% end %>
			<% end %>
		</span>
		<span id = "top_menu">
			<span id = "top_menu_buttons_list">
				<%= link_to "Home", {:controller => "main_page", :action => "index"} %> <span class = "separator">|</span>
				<span class = "dropdown_menu"> <a href = "#"> Servers </a>
					<ul>
						<li> <%= link_to "SoF2", {:controller => "main_page", :action => "servers_sof2"} %> </li>
						<li> <a href = "#">Quake3</a> </li>
						<li> <a href = "#">CS</a> </li>
						<li> <a href = "#">CoD2</a> </li>
						<li> <a href = "#">CoD4</a> </li>
					</ul>
				</span>
				<span class = "separator">|</span>
				<a href = "#"> Players </a> <span class = "separator">|</span>
				<span class = "dropdown_menu2"> <a href = "#"> Games </a>
					<ul>
						<li> <%= link_to "SoF2", {:controller => "main_page", :action => "sof2_game_info"} %> </li>
						<li> <%= link_to "Quake3", {:controller => "main_page", :action => "q3_game_info"} %> </li>
						<li> <%= link_to "CS", {:controller => "main_page", :action => "cs_game_info"} %> </li>
						<li> <%= link_to "CoD2", {:controller => "main_page", :action => "cod2_game_info"} %> </li>
						<li> <%= link_to "CoD4", {:controller => "main_page", :action => "cod4_game_info"} %> </li>
					</ul>
				</span>
				<span class = "separator">|</span>
				<a href = "#"> Help </a>
			</span>
		</span>
		
		<% if flash[:notice] %>
			<span id = "flash_notice"> <%= image_tag "/images/layout/ok_icon.png" %> <%= flash[:notice] %> </span>
		<% elsif flash[:error] %>
			<span id = "flash_error">  <%= image_tag "/images/layout/error_icon.png" %> <%= flash[:error] %> </span>
		<% end %>
		
		<span id = "center_box">
			<span id = "left_content">
				<span class = "box">
					<span id = "title">>> Box1 Title << </span>
					<span id = "content">
						jakas tresc jakas trescjakas tresc
						jakas trescjakas trescjakas tresc
						jakas trescjakas trescjakas tresc
						jakas trescjakas trescjakas tresc
					</span>
				</span>
				<span class = "box">
					<span id = "title">>> Box2 Title << </span>
					<span id = "content">
						jakas tresc jakas trescjakas tresc
						jakas trescjakas trescjakas tresc
						jakas trescjakas trescjakas tresc
						jakas trescjakas trescjakas tresc
					</span>
				</span>
			</span>
			<span id = "center_content">
				<span id = "title">[ <span id = "inside"><%= @content_title %></span> ]</span>
				<span id = "main_content">
					<%= yield %>
				</span>
			</span>
		</span>
	</span>
</body>
